@model List<serverDashboard.Models.Client>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> 
<div class="navbar">
    <div id="logoSection">
        <i class="fa-regular fa-square"></i>
        <p id="name">SigNEX</p>
    </div>
    
    <div id="allClientsButtons">
        @foreach (var client in Model)
        {
            <button class="clientButton" data-client="@client.ClientId">@client.ClientName</button>
        }
    </div>    

    <div id="fill1"></div>
    <div id="settingSection">
        <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-user"></i>    
    </div>
</div>

<h1 class="title">System health Dashboard</h1>
<p id="secondTitle">Real-time server health and service performance monitoring</p>
<div id="displayClientName">
</div>
<hr />
<div id="serverButtons">    
</div>
<hr />

<div class="firstCardSection">
    <div  class="firstCardSectioncard">
        <p>Overall System Status</p>    
        <div id="displayStatus"></div>      
    </div>

    <div class="firstCardSectioncard">
        <P>Active Alerts</P>     
    </div>

    <div class="firstCardSectioncard">
        <p>Avg API Response Time</p>
        <div id="requestlLatency"></div>
    </div>    

</div>

<div class="secondCardSection">
    <div class="leftColumn">
        <h3>System Resources</h3>
        <div class="firstLeftSection">
            <div  class="firstLeftcard">
                <p>CPU Usage %</P>
                <div id="cpuUsage"></div>
            </div>
            <div  class="firstLeftcard">
                Memory Utilization  
                <div id="memoryDisplay"></div>
            </div>

        </div>
        <h3>Application & Service Metrics</h3>
        <div class="secondLeftSection">
            <div class="secondLeftcard">
                Service Status  
            </div>
            <div class="secondLeftcard">
                API Endpoint Latency
            </div>
        

        </div>
    </div>
    <div class="rightColumn">
        <div class="rightColumnCard">
            <h3>Recent Alerts</h3>
        </div>
    </div>
</div>

<div class="thirdCardSection">
    <div class="thirdCardSectionCard">
        <h3>Historical CPU LOad(24 Hours)</h3>
    </div>
</div>

<div class="fourthCardSection">
    <div class="fourthCardSectionCard">
        <h3>System Logs</h3>
    </div>
</div>

<div class="footer">
    SigNEX Dashboard v1.2.0 | <span>Support</span>
</div>



@section Scripts {
    <script>
        const clientButtons = document.querySelectorAll('.clientButton');
        const serverButtonsDiv = document.getElementById('serverButtons');  
        const displayName = document.getElementById('displayClientName');      
        const displayServerStatus = document.getElementById('displayStatus');
        const displayCPUUsage = document.getElementById('cpuUsage');
        const displayMemory = document.getElementById('memoryDisplay');
        const displayRequestLatencyMs = document.getElementById('requestlLatency');
 
        clientButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                const clientId = btn.dataset.client;
                displayServerStatus.innerHTML = '';
                displayCPUUsage.innerHTML = '';
                displayMemory.innerHTML='';
                serverButtonsDiv.innerHTML = '';         
                displayName.innerHTML = '';     
                displayRequestLatencyMs.innerHTML='';
                const clientNameDisplay = document.createElement('p');
                clientNameDisplay.textContent = btn.textContent;
                document.getElementById('displayClientName').appendChild(clientNameDisplay);

                fetch(`/Dashboard/GetServers?clientId=${clientId}`)
                    .then(response => response.json())
                    .then(servers => {
                        console.log(servers);
                        servers.forEach(server => {
                            const sBtn = document.createElement('button');
                            sBtn.textContent = server.serverName;
                            sBtn.dataset.server = server.serverId;
                            sBtn.dataset.client = clientId;
                            sBtn.className = 'serverBtn';
                            serverButtonsDiv.appendChild(sBtn);

                            sBtn.addEventListener('click', () => {
                                fetch(`/Dashboard/GetServerDetails?clientId=${clientId}&serverId=${server.ServerId}`)
                                    .then(res => res.json())
                                    .then(data => {
                                        displayServerStatus.innerHTML = '';
                                        const sStatus = document.createElement('p');
                                        sStatus.textContent = server.status;
                                        displayServerStatus.appendChild(sStatus);

                                        displayCPUUsage.innerHTML = '';
                                        const sCPU = document.createElement('p');
                                        sCPU.textContent = server.cpuUsagePercent;
                                        displayCPUUsage.appendChild(sCPU);

                                        displayMemory.innerHTML = '';
                                        const sMem = document.createElement('p');
                                        sMem.textContent = server.errorRatePercent;
                                        displayMemory.appendChild(sMem);
                                        
                                        displayRequestLatencyMs.innerHTML = '';
                                        const sReq = document.createElement('p');
                                        sReq.textContent = server.requestLatencyMs;
                                        displayRequestLatencyMs.appendChild(sMem);

                                        



                                       
                                    });
                            });
                        });
                    });
            });
        });
    </script>
}