@model List<serverDashboard.Models.Client>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> 
<div class="navbar">
    <div id="logoSection">
        <i class="fa-regular fa-square"></i>
        <p id="name">SigNEX</p>
    </div>
    
    <div id="allClientsButtons">
        @foreach (var client in Model)
        {
            <button class="clientButton" data-client="@client.ClientId">@client.ClientName</button>
        }
    </div>    

    <div id="fill1"></div>
    <div id="settingSection">
        <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-user"></i>    
    </div>
</div>

<h1 class="title">System health Dashboard</h1>
<p id="secondTitle">Real-time server health and service performance monitoring</p>
<div id="displayClientName">
</div>
<hr />
<div id="serverButtons">    
</div>
<hr />

<div class="firstCardSection">
    <div class="firstCardSectioncard">
        <p>Overall System Status</p>          
    </div>

    <div class="firstCardSectioncard">
        <P>Active Alerts</P>     
    </div>

    <div class="firstCardSectioncard">
        <p>Avg API Response Time</p>
    </div>    

</div>

<div class="secondCardSection">
    <div class="leftColumn">
        <h3>System Resources</h3>
        <div class="firstLeftSection">
            <div class="firstLeftcard">
                CPU Usage %   
            </div>
            <div class="firstLeftcard">
                Memory Utilization  
            </div>

        </div>
        <h3>Application & Service Metrics</h3>
        <div class="secondLeftSection">
            <div class="secondLeftcard">
                Service Status  
            </div>
            <div class="secondLeftcard">
                API Endpoint Latency
            </div>
        

        </div>
    </div>
    <div class="rightColumn">
        <div class="rightColumnCard">
            <h3>Recent Alerts</h3>
        </div>
    </div>
</div>

<div class="thirdCardSection">
    <div class="thirdCardSectionCard">
        <h3>Historical CPU LOad(24 Hours)</h3>
    </div>
</div>

<div class="fourthCardSection">
    <div class="fourthCardSectionCard">
        <h3>System Logs</h3>
    </div>
</div>

<div class="footer">
    SigNEX Dashboard v1.2.0 | <span>Support</span>
</div>



@section Scripts {
    <script>
        const clientButtons = document.querySelectorAll('.clientButton');
        const serverButtonsDiv = document.getElementById('serverButtons');  
        const displayName = document.getElementById('displayClientName');      
 
        clientButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                const clientId = btn.dataset.client;
                serverButtonsDiv.innerHTML = '';         
                displayName.innerHTML = '';     
                const clientNameDisplay = document.createElement('p');
                clientNameDisplay.textContent = btn.textContent;
                document.getElementById('displayClientName').appendChild(clientNameDisplay);

                fetch(`/Dashboard/GetServers?clientId=${clientId}`)
                    .then(response => response.json())
                    .then(servers => {
                        servers.forEach(server => {
                            const sBtn = document.createElement('button');
                            sBtn.textContent = server.ServerName;
                            sBtn.dataset.server = server.ServerId;
                            sBtn.dataset.client = clientId;
                            sBtn.className = 'server-btn';
                            serverButtonsDiv.appendChild(sBtn);

                            sBtn.addEventListener('click', () => {
                                fetch(`/Dashboard/GetServerDetails?clientId=${clientId}&serverId=${server.ServerId}`)
                                    .then(res => res.json())
                                    .then(data => {
                                       
                                    });
                            });
                        });
                    });
            });
        });
    </script>
}